@import url("styles.css");

:root {
  --primary: #454762;
  --secondary: #f7d16f;
}

html,
body {
  display: grid;
}

::selection {
  background: var(--primary);
  color: #fff;
}

main {
  font-size: 1.5rem;
  margin-top: 50px;
}

.main-wrapper {
  overflow: hidden;
  max-width: 390px;
  background-color: var(--secondary);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.main-wrapper .title-text {
  display: flex;
  width: 200%;
}

.main-wrapper .title {
  width: 50%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.main-wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  /* border: 1px solid lightgray; */
  border-radius: 10px;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: var(--primary);
}

.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 10px;
  background: var(--primary);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#signup:checked ~ .slider-tab {
  left: 50%;
}

#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}

#signup:checked ~ label.login {
  color: var(--primary);
}

#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}

.main-wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 1.9rem;
  transition: all 0.3s ease;
}

.form-inner form .field input:focus {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

.form-inner form .field input::placeholder {
  color: var(--primary);
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: var(--secondary);
}

.form-inner form .pass-link {
  margin-top: 5px;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  text-decoration: underline;
}

form .btn {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  /* background: #454762; */
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
  left: 0;
  background: var(--primary);
}

form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  /* background: none; */
  padding-left: 0;
  border-radius: 10px;
  font-size: 1.9rem;
  font-weight: 500;
  cursor: pointer;
}
