@import url("styles.css");

:root {
  --primary: #454762;
  --secondary: #f7d16f;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container img {
  margin: 20px 0;
  border-radius: 20px;
}

.about-text {
  margin-top: 20px;
  font-size: 2rem;
}

footer {
  position: static;
  bottom: 0;
  background: var(--secondary);
  height: auto;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  margin-top: 10px;
}

.footer-content p {
  max-width: 500px;
  margin: 20px auto;
  font-size: 1.8rem;
  line-height: 2rem;
}

.socials {
  display: flex;
  align-items: center;
}

.socials a {
  margin: 5px 20px;
}