@import url("styles.css");

:root {
  --primary: #454762;
  --secondary: #f7d16f;
}

.container-form {
  display: flex;
  flex-direction: column;

  margin: 0 50px;
}

.content-form-hide {
  display: none;
}

#toggle-button::before {
  content: "+";
  padding-right: 5px;
}

#toggle-button {
  width: 20%;
  height: 50px;
  background: var(--secondary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  transition: 0.5s ease-out;
  font-size: 2rem;

  cursor: pointer;
  margin-bottom: 20px;
}

#toggle-button:hover {
  background: var(--primary);
  color: var(--secondary);
  transition: 0.5s ease-in;
}

.toggle-button {
  width: 70%;
  height: 50px;
  font-size: 2rem;

  border: 1px solid var(--primary);
  border-radius: 5px;
  background: var(--secondary);

  cursor: pointer;
  transition: 0.5s all ease-in;
}

.toggle-button:hover {
  background: var(--primary);
  color: var(--secondary);
}

.content-form form {
  display: flex;
  flex-direction: column;

  font-size: 2rem;
}

.content-form form > div {
  display: flex;
  flex-direction: column;
}

.content-form form div span {
  margin-bottom: 5px;
}

label,
input[type="text"],
textarea,
.content-form div,
input[type="submit"] {
  margin-bottom: 20px;
}

label {
  font-size: 2rem;
  font-weight: bold;
}

input[type="text"] {
  width: 70%;
  height: 50px;
}

input[type="text"]::placeholder {
  padding: 10px 20px;
  font-size: 1.9rem;
}

textarea {
  width: 70%;
}

textarea::placeholder {
  /* position: relative; */
  padding: 10px 20px;
  font-size: 1.9rem;
}

.radio-check p {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .content-form {
    margin: 0 0;
  }

  #toggle-button {
    width: 50%;
    margin: 20px 0;
  }
}
