:root {
  --primary: #454762;
  --secondary: #f7d16f;
}

html {
  font-size: 50%;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary);
  /* border: 1px solid red; */
}

ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 2rem;
  font-weight: 400;
}

.nav-link:hover {
  color: #fff;
}

.judul {
  font-weight: 800;
  font-size: 3rem;
}

.tombol {
  background-color: var(--primary);
  color: #fff;
  padding: 2rem 4rem;
  border-radius: 50px;
}

.tombol:hover {
  background-color: #fff;
  color: var(--primary);
  cursor: pointer;
  transition: 0.4s;
}

.main-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  margin: auto;
}

article {
  margin: 30px 50px;
}

.section-container {
  display: grid;
  row-gap: 50px;
}

.main-title {
  font-size: 5rem;
  font-weight: bold;
}

.main-content {
  font-size: 2.5rem;
}

.main-tombol {
  background-color: var(--primary);
  padding: 2rem 4rem;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.main-tombol:hover {
  background-color: var(--secondary);
  cursor: pointer;
  transition: 0.4s;
}

.section-container-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: auto;
  grid-gap: 50px;
  justify-content: center;
}

.card {
  border: 1px solid var(--primary);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 110%;
}

.card-image {
  width: 50%;
  object-fit: cover;
}

.tag {
  padding: 4px 8px;
  background-color: var(--secondary);
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary);
}

.card-name {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.card-button {
  border: none;
  padding: 10px;
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.card-button:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .nav-link:hover {
    color: var(--primary);
  }

  .tombol:hover {
    background-color: var(--secondary);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  article {
    margin: 20px;
  }

  .main-display {
    flex-direction: column;
  }

  .main-logo-display {
    width: 300px;
  }
}

@media only screen and (min-width: 2048px) {
  .judul {
    font-size: 6rem;
  }
  .navbar {
    padding: 5rem 3rem;
  }
  .nav-link {
    font-size: 5rem;
  }

  .main-logo-display {
    width: 1024px;
  }

  .main-title {
    font-size: 10rem;
  }

  .main-content {
    font-size: 5rem;
  }

  .main-tombol {
    font-size: 4rem;
    padding: 3rem 3rem;
  }

  .section-container-card {
    grid-template-columns: repeat(auto-fit, 500px);
    grid-template-rows: repeat(auto-fit, 300px);
    grid-auto-rows: auto;
    margin-bottom: 10%;
  }

  .card {
    align-items: center;
    justify-content: space-evenly;
    height: 180%;
  }

  .card-image {
    width: 60%;
  }

  .tag {
    padding: 4px 15px;
    font-size: 3rem;
  }

  .card-name {
    font-size: 5rem;
  }

  .card-button {
    padding: 20px;
    font-size: 4rem;
  }
}
